doctype html
html(lang='en', ng-app='angularModule')
  head
    script(src='/javascripts/libs/jquery/dist/jquery.js')
    link(rel="stylesheet", href="/javascripts/libs/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/javascripts/libs/bootstrap/dist/css/bootstrap-theme.css")
    script(src="/javascripts/libs/bootstrap/dist/js/bootstrap.js")
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/libs/angular/angular.js')
    script(src='/javascripts/libs/angular-route/angular-route.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers.js')
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller='MainController')
    div
      div='temp = {{status.temp / 100}}'
      div='baseTemp = {{status.baseTemp / 100}}'
      div='currentPos = X:{{status.currentPos.X / 100000}} Y:{{status.currentPos.Y / 100000}} Z:{{status.currentPos.Z / 100000}}'
      a(href='#main')='Control Panel'
      br
      a(href='#fileManager')='File Manager'
    div(ng-view)
    block content